<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item text-dark" href="">Send Money</a>
        <a class="breadcrumb-item text-dark" href="">Recieve Money</a>
        <a class="breadcrumb-item text-dark" href="">Pay Online</a>
      </nav>
    </div>
  </div>
</div>

<div class="container-fluid">
    <div class="row px-xl-5">
      <div class="col-lg-8 table-responsive mb-5">
        <h3 style="color: darkgreen;">Transaction History</h3>
        <table
          class="table table-light table-borderless table-hover text-center mb-0"
        >
          <thead style="color: white;background-color: darkblue;">
            <tr>
              <th>ID</th>
              <th>Transaction Date</th>
              <th>Sender</th>
              <th>Reciever</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody class="align-middle" id="products">
            <tr>
              <td class="align-middle">1</td>
              <td class="align-middle"> 12/03/2020 </td>
              <td class="align-middle">Samir</td>
              <td class="align-middle">You</td>
              <td class="align-middle">100 EGP</td>
            </tr>
            <tr>
              <td class="align-middle">
                2
              </td>
              <td class="align-middle"> 12/03/2020 </td>
              <td class="align-middle">Emad</td>
              <td class="align-middle">You</td>
              <td class="align-middle">200 EGP</td>
            </tr>
            <tr>
              <td class="align-middle">
                3
              </td>
              <td class="align-middle"> 12/03/2020 </td>
              <td class="align-middle">You</td>
              <td class="align-middle">Ahmed</td>
              <td class="align-middle">150 EGP</td>
            </tr>
            <tr>
              <td class="align-middle">
                4
              </td>
              <td class="align-middle"> 12/03/2020 </td>
              <td class="align-middle">Ahmed</td>
              <td class="align-middle">You</td>
              <td class="align-middle">100 EGP</td>
            </tr>
            <tr>
              <td class="align-middle">
                5
              </td>
              <td class="align-middle"> 12/03/2020 </td>
              <td class="align-middle">You</td>
              <td class="align-middle">Ahmed</td>
              <td class="align-middle">300 EGP</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-4">
        <h5 class="section-title position-relative text-uppercase mb-3">
          <span class="bg-secondary pr-3" style="color: darkgreen;">Wallet Balance</span>
        </h5>
        <div class="bg-light p-30 mb-5">
          <div class="border-bottom pb-2">
            <div class="d-flex justify-content-between mb-3">
              <h5>Balance: 3000 EGP</h5>
              <h5 id="balance"></h5>
            </div>
          </div>
          <div class="pt-2">
            <button class="btn btn-block btn-primary font-weight-bold my-3 py-3">
              Add Funds
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  