<div class="container-fluid py-5">
  <div class="row px-xl-5">
    <div class="col">
      <div class="owl-carousel vendor-carousel">
          <app-pay-bills-items img="assets/img/we.jfif" name="We Internet" url ="/send-money"></app-pay-bills-items>
          <app-pay-bills-items img="assets/img/etisalat.png" name="Etisalat" url ="/pay-online"></app-pay-bills-items>
          <app-pay-bills-items img="assets/img/vodafone.png" name="Vodafone" url ="#"></app-pay-bills-items>
          <app-pay-bills-items img="assets/img/orange.png" name="Orange" url ="#"></app-pay-bills-items>
          <app-pay-bills-items img="assets/img/btech.png" name="B.tech" url ="#"></app-pay-bills-items>
          <app-pay-bills-items img="assets/img/elec.jfif" name="Electricity Card" url ="#"></app-pay-bills-items>
      </div>
    </div>
  </div>
</div>

<div class="bg-light ml-5">
    <h2>Generate Virtual Debit Card</h2>
    <h2>history</h2>
    <h2>Generate Virtual Debit Card</h2>


</div>
