<table class="table" style="width: 80vw; padding: 10px">
  <thead>
    <tr>
      <th><h5>#Id</h5></th>
      <th><h5>National ID</h5></th>
      <th><h5>Name</h5></th>
      <th><h5>Mobile NO.</h5></th>
      <th><h5>Balance</h5></th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>12345678998765</td>
      <td>user1</td>
      <td>0123456789</td>
      <td>100$</td>
      <td>
        <a href="admin/user/transactions">Transactions</a>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>12345678998765</td>
      <td>user2</td>
      <td>0123456789</td>
      <td>100000000$</td>
      <td>
        <a href="admin/user/transactions">Transactions</a>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>12345678998765</td>
      <td>user3</td>
      <td>0123456789</td>
      <td>400$</td>
      <td>
        <a href="admin/user/transactions">Transactions</a>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>12345678998765</td>
      <td>user4</td>
      <td>0123456789</td>
      <td>600$</td>
      <td>
        <a href="admin/user/transactions">Transactions</a>
      </td>
    </tr>
  </tbody>
</table>
